<hr>
<mat-card style="width: 100%">
    <mat-card-title><p>Cadastro de Lotes</p></mat-card-title>
    <mat-card-content>
        <div id="divGrid" *ngIf="!exibeLoteAtualizar">
            <mat-card-subtitle>Filtros</mat-card-subtitle>
            <mat-card-content>
                <form class="formIPTU" [formGroup]="formConsulta" (ngSubmit)="onSubmit()">
                    <span>
                        <mat-form-field appearance="fill">
                        <mat-label>Endereco</mat-label>
                        <input matInput placeholder="Digite Endereco" formControlName="Endereco">
                        </mat-form-field>
                    </span>
                
                    <span>
                        <mat-form-field appearance="fill">
                        <mat-label>Inscrição do imóvel</mat-label>
                        <input matInput placeholder="Digite a Inscrição do imóvel" formControlName="InscricaoImovel">
                        </mat-form-field>
                    </span>

                    <span>
                        <mat-form-field appearance="fill">
                        <mat-label>Geo Id</mat-label>
                        <input matInput placeholder="Digite o Identificaçao de dadas geográficos" formControlName="GeoId">
                        </mat-form-field>
                    </span>

                    <span>
                        <button mat-button type="submit">Pesquisar</button>
                    </span>

                </form>
            </mat-card-content>

            <mat-card-subtitle>Resultados da pesquisa</mat-card-subtitle>            
            <mat-card-content>
                <table mat-table [dataSource]="lotes$ | async">            
                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data.Id}} </mat-cell>
                    </ng-container>    

                    <ng-container matColumnDef="GeoId">
                        <mat-header-cell *matHeaderCellDef> GeoId </mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data.GeoId}} </mat-cell>
                    </ng-container>       

                    <ng-container matColumnDef="Endereco">
                        <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data.Endereco}} </mat-cell>
                    </ng-container>                         

                    <ng-container matColumnDef="InscricaoImovel">
                        <mat-header-cell *matHeaderCellDef> Inscrição Imóvel </mat-header-cell>
                        <mat-cell *matCellDef="let data"> {{data.InscricaoImovel}} </mat-cell>
                    </ng-container>                          

                    <ng-container matColumnDef="Atualizar">
                        <mat-header-cell *matHeaderCellDef> Atualizar </mat-header-cell>
                        <mat-cell *matCellDef="let data"> <button mat-button (click)="atualizar(data.Id)"><mat-icon aria-hidden="false" aria-label="Atualizar">edit</mat-icon></button> </mat-cell>
                    </ng-container>    

                    <mat-header-row *matHeaderRowDef="['Id', 'GeoId', 'Endereco', 'InscricaoImovel', 'Atualizar']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['Id', 'GeoId', 'Endereco', 'InscricaoImovel', 'Atualizar']"></mat-row>                  
                </table>         
            </mat-card-content>   
        </div>
        <div id="divUpdate" *ngIf="exibeLoteAtualizar">
            <form [formGroup]="formLoteAtualizar" (ngSubmit)="onSubmitLoteAtualizar()" >
                <div>Atualizar dados lote: {{idLoteEmAtualizacao}}</div>

                <span>
                    <mat-form-field appearance="fill">
                    <mat-label>Área Construída</mat-label>
                    <input matInput type="number" placeholder="Digite a Área Construída" formControlName="AreaConstruida">
                    </mat-form-field>
                </span>
              
                <span>
                    <mat-form-field appearance="fill">
                    <mat-label>Área Terreno</mat-label>
                    <input matInput type="number" placeholder="Digite a Área do Terreno" formControlName="AreaTerreno">
                    </mat-form-field>
                </span>    
                <span>
                    <button mat-button type="submit">Atualizar</button>
                </span>
                <span>
                    <button mat-button type="button" (click)="fecharFormAtualizacao()">Voltar</button>
                </span>
    
            </form>            
        </div>

    </mat-card-content>
</mat-card>