<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SGM - Sistema de Gestão Municipal</a>
</nav>  

<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Serviços ao Cidadão</mat-card-title>
      <mat-card-content>
        <a mat-button href="/cidadao/iptu">Consulta IPTU/ITR</a>        
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Informações Georreferenciadas</mat-card-title>
      <mat-card-content>
        <a mat-button href="/geo/lote">Lotes</a>
        <a mat-button href="/geo/mapa">Catálogo de dados Geográficos</a>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>