<hr>
<mat-card style="width: 100%">
    <div *ngIf="!exibirImagem">
      <mat-card-title><p>Catálogo de Dados Geográficos</p></mat-card-title>
      <mat-card-content>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  <button mat-button (click)="exibirImagemMapa(node.id, node.name)">
                    <mat-icon aria-hidden="false" aria-label="Atualizar">map</mat-icon>
                  </button>{{node.name}}                
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </mat-tree-node>
          </mat-tree>
      </mat-card-content>
    </div>

    <div *ngIf="exibirImagem">
      <mat-card-title><p>Arquivo de mapa: {{imageTitle}}</p></mat-card-title>
      <mat-card-content>
        <div><button mat-button (click)="fecharImagem()" >Voltar</button></div>
        <div><img #imagemMapa id="imagemMapa" [src]="imagePath" [width]="imageWidth"></div>        
      </mat-card-content>
    </div>
</mat-card>